<div class="news-image-gallery-container">
  <div class="row">
    <div class="small-12 medium-12 large-8 columns">
      <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
        <ul class="orbit-container">
          <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
          <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
          <li class="is-active orbit-slide">
            <img class="orbit-image" src="https://i.imgur.com/4K3hXoZ.jpg" alt="Space">
            <figcaption class="orbit-caption">Space, the final frontier.</figcaption>
          </li>
          <li class="orbit-slide">
            <img class="orbit-image" src="https://i.imgur.com/V7zk0Y3.jpg" alt="Space">
            <figcaption class="orbit-caption">Lets Rocket!</figcaption>
          </li>
          <li class="orbit-slide">
            <img class="orbit-image" src="https://i.imgur.com/vivEvd0.jpg" alt="Space">
            <figcaption class="orbit-caption">Encapsulating</figcaption>
          </li>
          <li class="orbit-slide">
            <img class="orbit-image" src="https://i.imgur.com/VKdPzTp.jpg" alt="Space">
            <figcaption class="orbit-caption">Outta This World</figcaption>
          </li>
        </ul>
        <nav class="orbit-bullets">
        
        </nav>
      </div>
    </div>
    <div class="small-12 medium-12 large-4 columns">
      <div class="rounded-social-buttons">
       
      </div>
      <div class="clearfix"></div>
      <img src="https://res.heraldm.com/content/image/2013/12/13/20131213000967_0.jpg">
      <h4 class="news-image-gallery-title">Sejong City, South Korea</h4>
      <p>
        This is Sejong city I live in currently. Sejong city is new planned city made in year of 2015 and still developing. Seoul,capital of South Korea is moving its all the goverment buildings to Sejong city. Sejong city is the youngest city now in South Korea. Since it's new city, all the power lines are underground.
        <a href="#" class="read-more">
        
        </a>
      </p>
    </div>
  </div>
</div>
<app-portfolio-lightbox portfolioURL = '/assets/neighborhood.json'></app-portfolio-lightbox>