<h3>Graphic Design Portfolio</h3>

<link rel="stylesheet" href="style.css">

<div class="simple-article-header">
  <!-- Article Published Date & Reading Time -->
  <p class="article-date-read"></p>
  
  <!-- Article Title -->
  <h4 class="article-title">
    <a href="#">
     Graphic design
    </a>
  </h4>

  <!-- Article Author Name & Comment Hyperlink -->
  <p class="article-author-comments">
    <em>by <a href="#">From Google</a></em>
    <a class="article-comments" href="#"></a>
  </p>

  <!-- Article Social Links -->
  <div class="article-social"> <p>Facebook and Instagram buttons below</p>
    <a href="https://www.facebook.com/" class="button social facebook">
      <i class="fa fa-facebook fa-lg" aria-hidden="true"></i>
    </a>
    
    <a href="https://www.instagram.com/" class="button social Instagram">
      <i class="fa fa-linkedin fa-lg" aria-hidden="true"></i>
    </a>
    
  </div>

  <!-- Article Image -->
  <div class="article-post-image">
    <div class="thumbnail">
      <img src="https://upload.wikimedia.org/wikipedia/commons/0/04/MarvelLogo.svg">
    </div>
  </div>

  <!-- Article Post Content -->
  <div class="article-post-content">
    <p><strong>Marvel</strong></p>
    
    
  </div>

</div>

  <app-portfolio-lightbox portfolioURL = '/assets/graphic.json'></app-portfolio-lightbox>

