<h1 style="font-weight:bold; font-size:80px; color:#ff0000;"> About me </h1>
<h2 style="color:green;"> Email: jjojjosteve@gmail.com</h2>
<img src=
"https://addons-media.operacdn.com/media/CACHE/images/themes/05/144705/1.0-rev1/images/0993404e-79e0-4052-923d-89236e7c102f/ce42ef837a89c852c000eafd63cd0763.jpg">
<h3 style="color:blue;">I am currently attending Queensborough Community College and my current goal
is to learn basic various types of computer skills. In the future I would like to work as a web developer.</h3>